.show-modal-button {
  width: 50px;
  height: 50px;
  background-color: green;
  color: white;
}

/* Style for the modal buttons */
.modal-footer .btn {
  width: 100%;
  background-color: #003c36;
  color: white;
  padding: 12px 75px;
  border: none;
}

/* Ensure modal footer buttons are centered */
.modal-footer {
  display: flex;
  justify-content: center;
  gap: 10px;
  /* Adjust the gap as needed */
  flex-direction: column;
}

.modal-add-but {
  position: fixed;
  bottom: 20%;
  right: 0;
  width: 35%;
}

.post-modal-button {
  padding: 13px 28px;
  font-size: 25px;
  background: #005049;
  border: 1px solid #fff;
  box-shadow: 0px 2px 8px #ababab;
  border-radius: 15px;
}