/* Modal Backdrop */
.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Modal Content */
.modal-content {
    position: relative;
    /* background-color: #fff; */
    /* border-radius: .3rem;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5); */
    /* width: 30%; */
    /* padding: 20px; */
}

/* Template Options */
.template-options {
    margin: 0px 0;
    display: flex;
    justify-content: center;
}

/* Buttons inside the modal */
.modal-content button {
    border: 1px solid #007bff;
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    border-radius: .25rem;
    cursor: pointer;
    transition: background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.modal-content button:hover {
    background-color: #0056b3;
    border-color: #004085;
}

/* Close button specific styling, if needed */
.close-button {
    border: none;
    background-color: transparent;
    color: #1f6130;
    cursor: pointer;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .modal-content {
        width: 90%;
    }
}
.cus_modal_img{
    width: 15% !important;
    margin-top: 30px !important;
}
.modal-content h3{
    color: #fff;
}