.dis {
     display: flex;
     flex-direction: row;
     justify-content: space-around;
   }
   
   .logo {
     width: 110px;
     height: 50px;
     display: flex;
    align-items: center;
   }
   
   @media only screen and (max-width: 600px) {
     .dis {
       flex-direction: column;
       align-items: center;
     }
   
     .logo {
       margin-bottom: 15px;
     }
   }
   