/* In App.css or respective component CSS files */
.chat-app {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border: 1px solid #f10d0d;
  border-radius: 5px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  word-break: break-all;
}

form {
  display: flex;
  margin-top: 20px;
}

input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
}

button {
  padding: 10px;
  border: none;
  background-color: #364e4d;
  color: white;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
}

button:hover {
  background-color: #215c4d;
}


.chat-history {
  display: flex;
  flex-direction: column;
}

.message-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

}

.message-right {
  justify-content: end;
  margin-right: 10px;
  margin-top: 10px;



}

.message-left {
  justify-content: start;
}

.message-right p,
.message-left p {
  padding: 10px;
  border-radius: 5px;
  background-color: #d6d4d4;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 15px;
  margin-bottom: 10px;
  
}

.chat-main-container {
  height: 700px;
  position: relative;
  overflow-y: scroll;
}

.message-item.message-left p.text-start:after {
  content: "";
  clip-path: polygon(100% 83%, 0% 100%, 100% 100%);
  position: absolute;
  width: 20px;
  height: 50px;
  background-color: #5fbfb6;
  left: -13px;
  bottom: 0px;
}

.message-item.message-left p.text-start {
  background-color: #5fbfb6;
  color: #fff;
  padding: 12px 20px;
  position: relative;
  width: fit-content;
  word-break: break-all;
}

.message-item.message-right p.text-end {
  background-color: #d3d1d1;
  color: #000;
  padding: 12px 25px;
  width: fit-content;
  word-break: break-all;
}
.header-for-topchat-btns{
  background: #5EBFB6;
  padding: 10px 20px 10px;
  margin-bottom: 20px;
  text-align: end;
}

.header-for-topchat-btns svg{
  color: #fff;
}