.companyprofile{

        width: 130px;
        height: 60px;
        border-radius: 10px;
        justify-content: center;
        align-items: center;
        background-color: #FFF;
}
.view{

      width: 220px;
      height: 110px;
      background-color: rgb(255, 255, 255);
      border: solid 1px #d2d2d2;
      font-size: 13px;
      justify-content: flex-start;
      font-weight: 500;
}

.jobcard{
      height:900px;
      overflow-y: scroll;
      border: none;
}

.jobcard::-webkit-scrollbar {
      width: 3px;
      background-color: #30BDB0;
    }
.form-control{
   
      border: solid 1px  #30BDB0;
       
}


.cdhover:hover{

        background-color: #30BDB0;
        color: #FFF;
        box-shadow: 1px 2px 9px #e1e1e1;
}