.job-post-form-container {
    padding: 20px;
    background-color: #f4f4f4;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .job-post-form-container h2 {
    color: #fff;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #fff;
  }
  
  .form-control {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .form-control:focus {
    border-color: #007bff;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 123, 255, 0.6);
  }
  
  .button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  
  .text-center {
    text-align: center;
  }

  .aligning-lables{
    text-align: start;
  }
  
  .aligning-lables input, .aligning-lables select, .aligning-lables textarea {
    background-color: #1b5953;
    color: white;
    border-radius: 50px;
    padding: 20px;
    margin-bottom: 10px;
    border: none;
}

.aligning-lables input::placeholder,.aligning-lables select::placeholder, .aligning-lables textarea::placeholder{
  color: white;
}

.my-post-button-jobpost{
    background-color: #fff;
    color: #1b5953;
    padding: 10px 75px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    align-self: center;
    font-size: 18px;
    transition: .4s;
}

.my-post-button-jobpost:hover {
  background-color: #1b5953;
  color: #fff;
}